<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.board">

    <application
        android:allowBackup="true"
        android:icon="@drawable/eee"
        android:label="board"
        android:roundIcon="@drawable/eee"
        android:supportsRtl="true"
        android:theme="@style/Theme.Board">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Two"
            android:exported="false" />

        <activity
            android:name=".Three"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>